html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: 'tnum';
}

h1 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

input {
  width: 55px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

input:hover,
input:active,
input:focus-visible {
  border: 1px solid #1984ff;
  outline-width: 0;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.mr-10 {
  margin-right: 10px;
}

.tabs {
  text-align: center;
}

.tabs-item {
  position: relative;
  font-weight: 600;
  font-size: larger;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  vertical-align: middle;
  max-width: 360px;
  min-width: 90px;
  min-height: 48px;
  padding: 12px 16px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.tabs-item:not(:last-child) {
  margin-right: 20px;
}

.active-tab {
  color: #409eff;
  border-color: #c6e2ff;
  font-weight: 600;
}

.active-tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(25, 118, 210);
}

.content {
  padding: 24px;
}

.chosen {
  box-shadow: 0 0 10px 0 #409eff !important;
}

.codebox {
  text-align: center;
  margin: 25px;
  font-size: 20px;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.desc {
  white-space: pre-line;
}

.pd16 {
  padding: 16px;
}

.text-right {
  text-align: right;
}

.handle {
  cursor: grab;
}

.loading {
  font-size: 16px;
  height: 20px;
  text-align: center;
  -webkit-text-stroke-width: thick;
}

.btns {
  display: flex;
  flex-direction: column;
}

.virtual-list {
  width: 400px;
  max-width: 1200px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.list-item {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px 10px -5px #57bbb4;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.oprate {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

/* loading */
.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
