html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: 'tnum';
}

h1 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px;
}

.tabs span {
  padding: 20px;
  cursor: pointer;
}

.tabs span:hover {
  color: #1984ff;
}

.tabs .active {
  color: #1984ff;
}

.content {
  display: flex;
  justify-content: center;
}

.index {
  color: #1984ff;
}

.drag {
  cursor: grab;
  position: absolute;
  right: 16px;
  top: 16px;
  padding-left: 12px;
}
.drag::before {
  content: '\2723';
  font-size: 16px;
}

.loading {
  font-size: 16px;
  height: 20px;
  text-align: center;
  -webkit-text-stroke-width: thick;
}

.btns {
  display: flex;
  flex-direction: column;
}

/* vertical */
.vertical-list {
  width: 800px;
  height: 600px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.vertical-item {
  position: relative;
  height: 65px;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
  overflow: hidden;
}

.vertical-item p {
  height: 40px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* horizontal */
.horizontal {
  padding-bottom: 100px;
}

.oprate {
  text-align: center;
  margin-bottom: 50px;
}

.horizontal-list {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.horizontal-item {
  position: relative;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.horizontal-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* dynamic */
.dynamic-list {
  width: 800px;
  height: 600px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.dynamic-item {
  position: relative;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
}

.dynamic-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* infinity */
.infinity-list {
  width: 800px;
  height: 600px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.infinity-item {
  position: relative;
  height: 65px;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
  overflow: hidden;
}

.infinity-item p {
  height: 40px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* group */
.group {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.group-list {
  width: 800px;
  height: 600px;
  border: 1px solid #ccc;
}

.group-item {
  position: relative;
  height: 65px;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
  overflow: hidden;
}

/* loading */
.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}