<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>vue-virtual-drag-list</title>
    <link rel="stylesheet" href="./css/virtual.css" />
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/mockjs"></script>
    <script src="https://unpkg.com/vue-virtual-draglist"></script>
    <script src="./js/sentences.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="tabs">
        <button
          v-for="item in tabList"
          :key="item.value"
          :class="{ 'tabs-item': true, 'active-tab': activeTab == item.value }"
          @click="activeTab = item.value"
        >
          {{ item.label }}
        </button>
      </div>

      <div class="codebox">
        <span class="mr-10">
          Vue2.x
          <a
            href="https://codesandbox.io/s/vue-virtual-draglist-h2cgur"
            target="_blank"
          >
            codesandbox
          </a>
        </span>
        <span class="mr-10">
          Vue3.x
          <a
            href="https://codesandbox.io/s/vue3-virtual-draglist-6l3pw0"
            target="_blank"
          >
            codesandbox
          </a>
        </span>
      </div>

      <template v-if="activeTab == 0">
        <div class="content flex justify-content-center">
          <virtual-list
            key="group"
            group="g"
            :virtual-style="{height: '600px'}"
          ></virtual-list>
          <virtual-list
            key="group"
            group="g"
            :virtual-style="{height: '600px'}"
          ></virtual-list>
        </div>
      </template>

      <template v-if="activeTab == 1">
        <div class="content">
          <virtual-list
            key="infinity"
            :top-load="true"
            :bottom-load="true"
            :virtual-style="{height: '600px'}"
          ></virtual-list>
        </div>
      </template>

      <template v-if="activeTab == 2">
        <div class="content">
          <virtual-list
            key="horizontal"
            direction="horizontal"
            :wrap-style="{display: 'flex'}"
            :virtual-style="{display: 'flex',width: '100%',height: '600px'}"
          ></virtual-list>
        </div>
      </template>

      <template v-if="activeTab == 3">
        <div class="content">
          <virtual-list key="pagemode" :page-mode="true"></virtual-list>
        </div>
      </template>
    </div>
    <script type="module">
      import { VirtualList } from "./js/virtual.js";
      const tabs = [
        { label: "Group", value: 0 },
        { label: "Infinity", value: 1 },
        { label: "Horizontal", value: 2 },
        { label: "PageMode", value: 3 },
      ];
      new Vue({
        el: "#app",
        components: {
          VirtualList,
        },
        data() {
          return {
            tabList: tabs,
            activeTab: 0,
          };
        },
      });
    </script>
  </body>
</html>
