.dynamic-list {
  width: 800px;
  height: 800px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.dynamic-item {
  position: relative;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
}

.dynamic-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}