html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: 'tnum';
}

h1 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

button:not(:last-child) {
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: center;
}

.index {
  color: #1984ff;
}

.drag {
  cursor: grab;
  position: absolute;
  right: 16px;
  top: 16px;
  padding-left: 12px;
}
.drag::before {
  content: '\2723';
  font-size: 16px;
}

.loading {
  font-size: 16px;
  height: 20px;
  text-align: center;
  -webkit-text-stroke-width: thick;
}

.btns {
  display: flex;
  flex-direction: column;
}