.horizontal {
  padding-bottom: 100px;
}

.oprate {
  text-align: center;
}

.horizontal-list {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.horizontal-item {
  position: relative;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.horizontal-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}