.vertical-list {
  width: 800px;
  height: 800px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.vertical-item {
  position: relative;
  height: 65px;
  margin: 10px;
  padding: 16px;
  border: 1px solid #1984ff;
  border-radius: 5px;
  overflow: hidden;
}

.vertical-item p {
  height: 40px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}